<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalorieTracker"
        tools:targetApi="31">
        <activity
            android:name=".user.EditRiwayatMakananActivity"
            android:exported="false" />
        <activity
            android:name=".user.FormTambahMakananCustomActivity"
            android:exported="false" />
        <activity
            android:name=".user.FormTambahMakananActivity"
            android:exported="false" />
        <activity
            android:name=".admin.EditMakananAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.TambahMakananAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.TambahMakananActivity"
            android:exported="false" />
        <activity
            android:name=".admin.CrudMakananActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.CalorieTracker.withActionBar" />
        <activity
            android:name=".user.DashboardActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.CalorieTracker.withActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>